<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Student</title>
        <link rel="stylesheet" href="/css/styles.css">
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <style>
            .form-inputs, select{
                padding: 0.6rem;
                border: 2px solid gainsboro;
                margin: 0.5rem 0;
                width: 100%;
            }
            input[type=submit]{
                padding: 0.25rem; cursor:pointer; background-color:dodgerblue; color:white;
                border-radius: 2rem;
            }
        </style>
    </head>
    
    <body>
        <div class="root">
            <%- include("../includes/sidebar") %>
            <div class="main">
                <%- include("../includes/header") %>
                <div class="content">
                    <div>
                        <% print.forEach(function(rows) { %>
                            <h1>Edit Student - <%= rows.firstname %> <%= rows.surname %></h1>
                            <form action="/students/edit/save/<%= rows.id %>" method="POST">
                                <input class="form-inputs" value="<%= rows.firstname %>" type="text" name="student_fname" placeholder="Student FirstName">
                                <input class="form-inputs" value="<%= rows.surname %>" type="text" name="student_sname" placeholder="Student Surname">
                                <select name="student_gender">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                                <input type="submit" value="submit">
                            </form>
                        <% }); %>
                    </div>
                </div>
                
            </div>
        </div>
       
    </body>
</html>


